.mainBox {
  width: 100vw;
  max-width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  border: solid 1px #cbd6ddaa;
  padding: 10px;
}

.value {
  font-weight: bold;
  font-size: 1.3em;
}

.rightColumn {
  display: flex;
  align-items: center;
}

.closeButton {
  color: red;
}

.data {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;

  .unit {
    text-transform: uppercase;
  }
}

.type {
  text-transform: capitalize;
}
